.container-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    @media (max-width: 768px) {
      flex-direction: column;
      margin: 50px;
    }
}

.profile_text {
    padding-left: 10px;
}